@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;500;700&family=Prompt:wght@500;700&display=swap");
/* Pallette */
/* Spacing */
/* Fonts family*/
/* Fonts Sizes*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

img {
  width: 100%;
  height: 100%; }

ul {
  list-style-type: none; }

a {
  text-decoration: none;
  color: #37393A; }

html {
  font-size: 62.5%; }

body {
  font-family: "Prompt", sans-serif;
  background: linear-gradient(to top, rgba(238, 108, 83, 0.308561) 0%, rgba(254, 184, 127, 0.190914) 100%); }

.headers {
  font-size: 2.4em;
  color: #F73770;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600; }

.subtitles {
  font-size: 18px;
  color: #AD061A;
  font-weight: 700;
  font-family: "Josefin Sans", sans-serif; }

.paragraphs {
  font-size: 1.8em;
  color: #37393A;
  font-family: "Prompt", sans-serif; }

.container {
  max-width: 1200px;
  margin: 0 auto; }

.link_active {
  padding: .5rem;
  border: 1px solid #AD061A;
  background-color: rgba(233, 119, 12, 0.2); }

img.menu__img {
  max-width: 150px;
  min-width: 80px; }

.menu-header {
  background-color: #eb8856b7; }

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem; }
  .menu__list {
    display: flex;
    align-items: center;
    gap: 3rem;
    font-size: 2rem; }
  .menu__section {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .menu__link {
    font-weight: 500;
    text-shadow: 1px 1px 2px aliceblue; }
    .menu__link:hover {
      color: #F73770;
      text-decoration: underline;
      font-style: italic; }

.lema {
  color: #AD061A;
  font-weight: 700;
  font-size: 32px;
  text-transform: uppercase;
  padding-top: 1rem;
  text-shadow: 2px 2px 4px aliceblue; }

.main_home {
  display: grid;
  padding: 1.8rem;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 40% 1fr;
  align-items: center;
  text-align: right; }
  .main_home img {
    max-width: 150px;
    min-width: 80px; }

.main_home__grid:nth-of-type(1) {
  grid-column: 0/1;
  grid-row: 1/3; }

.main_home__grid:nth-of-type(2) {
  grid-column: 4/13;
  font-family: var(--text_accent); }

.main_home__grid:nth-of-type(3) {
  grid-column: 4/13; }

.main-rest {
  margin-top: 5rem;
  padding: 1.8rem;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 20% 10% 1fr;
  align-items: center; }
  .main-rest img {
    max-width: 120px;
    min-width: 100px; }

.grid-method:nth-of-type(1) {
  grid-column: 4/10;
  text-align: center; }

.grid-method:nth-of-type(2) {
  grid-column: 3/4;
  grid-row: 2/3; }

.grid-method:nth-of-type(3) {
  grid-column: 1/3;
  grid-row: 3/4; }

.grid-method:nth-of-type(4) {
  grid-column: 3/7;
  grid-row: 3/4; }

.grid-method:nth-of-type(5) {
  grid-column: 7/11;
  grid-row: 2/3;
  text-align: right; }

.grid-method:nth-of-type(6) {
  grid-column: 10/13;
  grid-row: 3/4;
  text-align: right; }

.grid-method:nth-of-type(7) {
  grid-column: 9/10;
  grid-row: 2/4; }

#main-about h2 {
  padding: 2rem;
  text-align: center; }

.section-about {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: justify;
  padding: 1.8rem; }
  .section-about img {
    max-width: 150px;
    min-width: 120px; }

.grid_about {
  margin-top: 1.5rem;
  padding: 1.8rem;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1.2rem; }
  .grid_about img {
    object-fit: fill; }
  .grid_about__img:nth-of-type(1) {
    grid-column: span 4; }
  .grid_about__img:nth-of-type(2) {
    grid-column: span 4; }
  .grid_about__img:nth-of-type(3) {
    grid-column: span 4;
    grid-row: span 3; }
  .grid_about__img:nth-of-type(4) {
    grid-column: span 5; }
  .grid_about__img:nth-of-type(5) {
    grid-column: span 3; }
  .grid_about__img:nth-of-type(6) {
    grid-column: span 8; }

#main_subjects {
  padding: 1.8rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: justify;
  margin-bottom: 24px; }

.subjects_header {
  padding-bottom: 36px; }

.subjects_table {
  display: flex;
  justify-content: center;
  width: 100vw;
  padding: 1.5rem; }

.subjects_name, .subjectsthemes {
  font-size: 18px;
  text-align: center;
  color: #37393A; }

table {
  border: 3px solid #AD061A;
  transform: scale(1.2); }

.main_contact {
  margin-top: 1.2rem;
  padding: 1.8rem;
  justify-content: center; }
  .main_contact h2 {
    text-align: center; }
  .main_contact p {
    text-align: justify; }

.contact_header {
  padding-bottom: 36px; }

#contact_form {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 18px; }

.contact__label, .div_contact_button {
  padding-top: 1.2rem; }

.box_form {
  max-width: 40vw;
  margin: 0 auto;
  text-align: center; }

.box_question {
  margin: 0 auto;
  text-align: justify;
  min-width: 20vw;
  min-height: 10vh;
  padding-bottom: 48px;
  display: flex;
  justify-content: flex-start; }

#submit_button {
  margin: 0 auto;
  max-width: 30vw;
  max-height: 15vw; }

.section_map {
  padding: 1.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.2rem; }

.contact_map {
  max-width: 80vw;
  max-height: 50vh; }

#main_opinions {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 1.8rem;
  align-items: center;
  text-align: justify; }

.opinions_header {
  padding-top: 1.8rem;
  margin-bottom: 36px; }

.section_opinions {
  padding: 1.8rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  align-items: center; }
  .section_opinions img {
    max-height: 350px;
    object-fit: contain; }

.opinion_grid:nth-of-type(1) {
  text-align: right;
  padding: 2rem; }

.opinion_grid:nth-of-type(2) {
  text-align: left;
  padding: 2rem; }

.opinion_grid:nth-of-type(3) {
  text-align: right;
  padding: 2rem; }

.footer {
  background-color: #51abe4d5;
  padding: 1rem;
  margin-top: 15rem; }
  .footer__section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    text-align: center; }
  .footer p {
    padding: 1rem; }
  .footer img {
    width: 60px; }

@media (max-width: 768px) {
  .menu {
    flex-direction: column; }
    .menu__item {
      font-size: 2rem;
      padding-inline: 1.2rem; }
  .main_home {
    gap: 1.2rem; }
    .main_home__grid:nth-of-type(1) {
      grid-column: 1/3;
      grid-row: 1/3; }
    .main_home__grid:nth-of-type(2) {
      grid-column: 4/13;
      font-size: 1.2rem; }
    .main_home__grid:nth-of-type(3) {
      grid-column: 4/13;
      font-size: 1rem; }
  .lema {
    font-size: 24px; }
  .main-rest {
    column-gap: 1rem; }
  .grid-method:nth-of-type(1) {
    grid-column: 4/10;
    font-size: 12px;
    text-align: center; }
  .grid-method:nth-of-type(2) {
    grid-column: 2/4;
    grid-row: 2/3; }
  .grid-method:nth-of-type(3) {
    grid-column: 1/2;
    grid-row: 3/4; }
  .grid-method:nth-of-type(4) {
    grid-column: 2/7;
    grid-row: 3/4;
    font-size: .9rem; }
  .grid-method:nth-of-type(5) {
    grid-column: 8/10;
    grid-row: 2/3;
    text-align: right; }
  .grid-method:nth-of-type(6) {
    grid-column: 10/13;
    grid-row: 3/4;
    text-align: right;
    font-size: .9rem; }
  .grid-method:nth-of-type(7) {
    grid-column: 8/10;
    grid-row: 3/4; }
  .grid_about {
    margin-top: 1.5rem;
    padding: 1.8rem;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1.2rem; }
    .grid_about__img:nth-of-type(1) {
      grid-column: span 3; }
    .grid_about__img:nth-of-type(2) {
      grid-column: span 3; }
    .grid_about__img:nth-of-type(3) {
      grid-column: span 3;
      grid-row: span 2; }
    .grid_about__img:nth-of-type(4) {
      grid-column: span 3; }
    .grid_aboutt__img:nth-of-type(5) {
      grid-column: span 3; }
    .grid_about__img:nth-of-type(6) {
      grid-column: span 6; } }

@media (max-width: 620px) {
  .menu__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    column-gap: 1.5rem; }
  .menu__item {
    font-size: 1.5rem;
    margin: 0 auto;
    width: auto; }
  .lema {
    font-size: 18px; }
  .main_home {
    display: flex;
    flex-direction: column;
    text-align: center; }
    .main_home img {
      width: 80px; }
  .main-rest {
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .grid-method p.paragraphs {
    text-align: center;
    padding-top: 1.5rem;
    font-size: 1.8rem; }
  .grid-method h3 {
    text-align: center;
    padding-top: 1.5rem; }
  .subjects_name,
  .subjects_themes {
    font-size: 1.5rem;
    text-align: center; } }
