.headers {
    @include font(3em, $text_accent, 600, map-get($map: $colors, $key: accent));
    margin-top: 4rem;
}

.subtitles {
    @include font($font_md, $text_accent, 700, map-get($map: $colors, $key: alternative));
}

.paragraphs {
    @include font(1.8em, $text_base, 400,map-get($map: $colors, $key: primary));
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.link_active {
    padding: .5rem;
    border: 1px solid map-get($map: $colors, $key: alternative);
    background-color: rgba(233, 119, 12, 0.2)
}

.content {
    min-height: 50vh;
}