* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: 100%;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: map-get($map: $colors, $key: primary);
}

html {
    font-size: 62.5%;
}

body {
    font-family: $text_base;
    background-color: map-get($map: $colors, $key: body_color);
}


