    /* Pallette */
    $primary: #37393A;
    $accent: #F73770;
    $alternative: #AD061A;
    $color_superior: #eb8856b7;
    $color_back: #F4DAB1;
    $color_footer: #51abe4d5;

    /* Spacing */
    $space_lg: 48px;
    $space_md: 36px;
    $space_sm: 24px;

    /* Fonts family*/
    $text_accent: 'Josefin Sans', sans-serif;
    $text_base: 'Prompt', sans-serif;

    /* Fonts Sizes*/
    $font_xl: 32px;
    $font_lg: 24px;
    $font_md: 18px;
    $font_sm: 12px;