    /* Pallette */
    $colors: (
        header_color: #eb8856b7,
        body_color: linear-gradient(to top, rgba(238,108,83,0.3085609243697479) 0%, rgba(254,184,127,0.19091386554621848) 100%),
        footer_color: #51abe4d5,
        primary: #37393A,
        accent: #F73770,
        alternative: #AD061A
    );
    
    /* Spacing */
    $space_lg: 48px;
    $space_md: 36px;
    $space_sm: 24px;

    /* Fonts family*/
    $text_accent: 'Josefin Sans', sans-serif;
    $text_base: 'Prompt', sans-serif;

    /* Fonts Sizes*/
    $font_xl: 32px;
    $font_lg: 24px;
    $font_md: 18px;
    $font_sm: 12px;
