<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/index.css">
    <link rel="icon" href="../images/Maestra Chivis.png">
    <title>Maestra Chivis</title>
</head>

<body>
    <!--Inicia header-->
    <header class="menu-header">
        <nav class="menu container">
            <a href="../index.html">
                <img class="menu__img" src="../images/Maestra Chivis.png" alt="Logo">
            </a>
            <section class="menu__section">
                <ul class="menu__list">
                    <li class="menu__item"><a class="menu__link link_active" href="#">Sobre mí</a></li>
                    <li class="menu__item"><a class="menu__link" href="./subjects.html">Materias</a></li>
                    <li class="menu__item"><a class="menu__link" href="./contact.html">Contacto</a></li>
                    <li class="menu__item"><a class="menu__link" href="./opinions.html">Opiniones</a></li>
                </ul>
                <h1 class="lema">¡Ven a aprender!</h1>
            </section>
        </nav>
    </header>
    <!-- Fin header  -->
    <main id="main-about">
        <h2 class="about__header headers">Sobre mí</h2>
        <section class="section-about container">
            <p class="about__paragraph paragraphs">¡Hola! un gusto conocerte, mi nombre es Silvia Martínez. Licenciada
                en Administración y profesora privada y me encantan las matemáticas y la física, estoy dispuesta a
                ayudarte en tus dudas de la escuela, desde aritmética, álgebra, trigonometría, geometría, probabilidad y
                hasta cálculo diferencial e integral.</p>
            <img src="../images/signos_1.png" alt="Símbolos matemáticos">
        </section>
    </main>

    <article class="grid_about container">
        <picture class="grid_about__img">
            <img src="../images/grid_about/1.jpg" alt="Fórmulas físicas">
        </picture>
        <picture class="grid_about__img">
            <img src="../images/grid_about/2.jpg" alt="Fórumlas de química">
        </picture>
        <picture class="grid_about__img">
            <img src="../images/grid_about/3.jpg" alt="fórmulas matemáticas">
        </picture>
        <picture class="grid_about__img">
            <img src="../images/grid_about/4.jpg" alt="Fórmulario matematicas">
        </picture>
        <picture class="grid_about__img">
            <img src="../images/grid_about/5.png" alt="Formulario Física">
        </picture>
        <picture class="grid_about__img">
            <img src="../images/grid_about/6.png" alt="Fórmulas generales">
        </picture>
    </article>
    <footer class="footer">
        <section class="footer__section container">
            <p class="footer__paragraph">Cupos y horarios sujetos a disponibilidad, los pagos se realizan al inicio de
                mes
                por método de transferencia bancaria o en efectivo, informes al contartarme.</p>
            <img class="footer__img" src="../images/Maestra Chivis.png" alt="Logo Maestra Chivis">
    </footer>
</body>

</html>