.footer {
    background-color: map-get($map: $colors, $key: footer_color);
    padding-top: 1rem;
    
    &__section {
        @include flex(wrap, row, center, space-around);
        text-align: center;
    }
    
    & p {
        padding: 1rem;
    }
    
    & img {
        width: 60px;
    }
}
