#main-about h2{
    padding: 2rem;
    text-align: center;
}

.section-about {
    @include flex(wrap, row, center, center);
    text-align: justify;
    padding: 1.8rem;
    & img {
        max-width: 150px;
        min-width: 120px;
    }
}

.grid_about {
    margin-top: 1.5rem;
    padding: 1.8rem;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1.2rem;
    & img{
        object-fit: fill;
    }
    
    &__img:nth-of-type(1){
        grid-column: span 4;
    }
    &__img:nth-of-type(2){
        grid-column: span 4;
    }
    &__img:nth-of-type(3){
        grid-column: span 4;
        grid-row: span 3;
    }
    &__img:nth-of-type(4){
        grid-column: span 5;
    }
    &__img:nth-of-type(5){
        grid-column: span 3;
    }
    &__img:nth-of-type(6){
        grid-column: span 8;
    }
}
