.main_contact {
    margin-top: 1.2rem;
    padding: 1.8rem;
    justify-content: center;

    & h2 {
        text-align: center;
    }

    & p {
        text-align: justify;
    }
}

.contact_header {
    padding-bottom: $space_md;
}

#contact_form {
    @include flex(no-wrap, column, center, flex-start);
    text-align: center;
    font-size: $font_md;
}

.contact__label,
.div_contact_button {
    padding-top: 1.2rem;
}

.box {
    margin: 0 auto;
    text-align: center;
    @include flex(wrap, row, center, center);
    padding-bottom: $space_lg;
    border: solid 1px map-get($map: $colors, $key: accent);
    border-radius: 1em;
    &_form {
        @extend .box;
        max-width: 60vw;
        min-height: 5vh;
    }

    &_question {
        @extend .box;
        min-width: 40vw;
        min-height: 10vh;       
    }

}

#submit_button {
    margin: 0 auto;
    max-width: 30vw;
    max-height: 15vw;
}

.section_map {
    padding: 1.8rem;
    @include flex(no-wrap, column, center, center);
    gap: 1.2rem;
}

.contact_map {
    max-width: 80vw;
    max-height: 50vh;
}