#main_subjects {
    padding: 3rem;
    @include flex(wrap, row, center, center);
    text-align: justify;
    margin-bottom: $font_lg;
}

.subjects{
    &_header {
        padding-bottom: $space_md;
    }
    
    &_table {
        display: flex;
        justify-content: center;
        text-align: center;
        width: 100vw;
        margin-bottom: 2rem;
    }
    &_name, &themes {
        font-size: $font_md;
        color: map-get($map: $colors, $key: primary);
        padding: 1rem;
    }
}

table {
    transform: scale(1.8);
    margin-top: 80px;
    margin-bottom: 150px;
    &.table-bordered{
        border: 3px solid map-get($map: $colors, $key: alternative);
    }
}
