#main_subjects {
    padding: 1.8rem;
    @include flex(wrap, row, center, center);
    text-align: justify;
    margin-bottom: $font_lg;
}

.subjects{
    &_header {
        padding-bottom: $space_md;
    }
    
    &_table {
        display: flex;
        justify-content: center;
        width: 100vw;
        padding: 1.5rem;
    }
    &_name, &themes {
        font-size: $font_lg;
        text-align: center;
        color: map-get($map: $colors, $key: primary);
    }
}

table {
    border: 3px solid map-get($map: $colors, $key: alternative);
    transform: scale(1.2);
}
